@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
    <tr>
        <th>Plaatje</th>       
        <th>Onderdelen</th>
        <th>Prijs</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Model.Parts)
    {        
        <tr>
            <td>
                <a asp-page="/Parts" asp-route-id="@c.Id" class="table-link">
                    <img style="width: 100px; height: 100px;" src="@c.Img"/>
                </a>
            </td>
            <td>
                <a asp-page="/Parts" asp-route-id="@c.Id" class="table-link">
                    @Html.DisplayName(c.Name)
                </a>
            </td>
            <td>
                <a>
                    @Html.DisplayName(c.Price.ToString("C"))
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>